*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

# Eclipse #
.project
.classpath
.settings
.checkstyle
.apt_generated
.buildpath
*.settings\org.eclipse.core.resources.prefs
*.settings\org.eclipser.php.core.prefs
*.settings\org.eclipse.wst.common.project.facet.core.xml
# end_Eclipse #
